.conteudo__login{
    width: 423px;
    height: 291px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login{
    padding: 92px 0;
}

.conteudo__login-title{
    font-size: 18px;
    font-weight: 700px;
    color: var(--texto-suave);
}

.conteudo__login-campos{
    width: 100%;
    height: 63px;
    border: none;
    border-radius: 4px;
    padding: 18px 12px 25px 12px;
    border-bottom: 1px solid rgb(167, 167, 167);
    margin-top: 25px;
}

.conteudo__login-campos::-moz-placeholder{
    font-size: 16px;
    font-weight: 400;
    color: var(--placeholder);
}

.conteudo__login-enviar{
    width: 100%;
    height: 62px;
    background-color: var(--azul-destaque);
    border: none;
    color: #ffffff;
    font-weight: 600;
    margin-top: 25px;
}

